<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<display-name>Archetype Created Web Application</display-name>
	<context-param>
		<param-name>resteasy.scan</param-name>
		<param-value>true</param-value>
	</context-param>
	<security-role>
		<role-name>Admin</role-name>
	</security-role>
	<security-role>
		<role-name>User</role-name>
	</security-role>
	<security-role>
		<role-name>Guest</role-name>
	</security-role>
	<listener>
		<listener-class>org.jboss.resteasy.plugins.server.servlet.ResteasyBootstrap</listener-class>
	</listener>
	<servlet>
		<servlet-name>Resteasy</servlet-name>
		<servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Resteasy</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
	<security-constraint>
		<display-name>Backoffice</display-name>
		<web-resource-collection>
			<web-resource-name>Backoffice</web-resource-name>
			<url-pattern>/rest/admin/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<description>Admin</description>
			<role-name>Admin</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<display-name>Game</display-name>
		<web-resource-collection>
			<web-resource-name>Game</web-resource-name>
			<url-pattern>/rest/game/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<description>Users</description>
			<role-name>User</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<display-name>Guest</display-name>
		<web-resource-collection>
			<web-resource-name>Guest</web-resource-name>
			<url-pattern>/rest/guest/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<description>Guests</description>
			<role-name>Guest</role-name>
		</auth-constraint>
	</security-constraint>
	<login-config>
		<auth-method>BASIC</auth-method>
		<realm-name>chikaka</realm-name>
	</login-config>
</web-app>
